* {
	--font-color: #D9D9D9;
	--header-color: #F6CE00;
	--bg-color: #122E55;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--font-size: 18px;
	--input-bg-color: #E8F0FE;
}


body {
	color: var(--font-color);
	background-color: var(--bg-color);
	font-size: var(--font-size);
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	text-align: center;
	/*do not set width to body*/
}


li {
	list-style-type: none;
}


select, input{
	font-size: var(--font-size);
	font-family: 'Open Sans', sans-serif;
	color: var(--bg-color);
	border-radius: 5px;
}


h1, h2 {
	color: var(--header-color);
}


a, input[type='submit'], #addStudent {
	display: inline-block;
	color: var(--header-color);
	background-color: var(--bg-color);
	border: 1px solid var(--header-color);
	padding: 2px 5px;
	margin: 5px auto;
	text-decoration: none;
	border-radius: 5px;
	height: 32px;
}


a:hover, input[type='submit']:hover, #addStudent:hover {
	cursor: pointer;
	color: var(--bg-color);
	background-color: var(--header-color);
	border: none;
	animation-name: buttonflash;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes buttonflash {
    20% {
        background-color: var(--header-color);
		opacity: 0.6;
    }

    50% {
        background-color: var(--header-color);
		opacity: 0.8;
    }

    100% {
        background-color: var(--header-color);
		opacity: 1;
    }
}

table {
	border: none;
	border-collapse: collapse;
	text-align: left;
}


tr {
    border-bottom: 1px solid var(--font-color);;
}


td, th {
	border: none;
    padding: 5px 20px;
}


ul {
	width: 330px;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	margin-bottom: 30px;
}


form {
	display: flex;
	flex-direction: column;
	width: 380px;
	margin: 0 auto;
	text-align: left;
	border: 1px solid var(--header-color);
	padding: 10px;
	border-radius: 6px;
	margin-top: 40px;
}


form div {
	display: flex;
	justify-content: space-between;
	height: 40px;
	align-items: center;
}


input[type='submit'] {
	margin-top: 20px;
}


select {
	width: 227px;
	height: 32px;
}


input {
	height: 32px;
	padding: 0 6px;
}


table {
	margin: 0 auto;
	margin-top: 30px;
}


h2 {
	margin-top: 60px;
	margin-bottom: 10px;
}


select:checked {
    background-color: red;
}


footer img {
	width: 60px;
	margin-top: 50px;
}


header img {
	width: 70px;
}


header div {
	width: 300px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 30px;
}


#addStudent {
	margin: 50px auto;
}


span {
	color: var(--header-color);
	font-size: 16px;
}





