<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Pengyong Zhan">
    <meta name="email" content="zhan0789@algonquinlive.com">
    <title>Score Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/events.js') }}" defer></script>
</head>
<body>
    <header>
        <div>
            <img src="{{ url_for('static', filename='images/flor.png')}}" alt="">
            <h1>Grade Grid</h1>
        </div>
		<nav>
			<ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('display') }}">Display All Info</a></li>
            </ul>
		</nav>
    </header>
    
    {% block content %}
    {% endblock %}

    <footer>
        <!--
            <img src="{{ url_for('static', filename='images/flor.png')}}" alt="">
        -->
    </footer>
</body>
</html>